<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1 style="color: green">GeeksForGeeks</h1>
<b>Get current URL using jQuery?</b>
<p>
    Click on the button below to get the
    current page URL
</p>

<p> The current URL is: <span class="output"></span></p>
<button id="btn">Get current</button>

<script src="https://code.jquery.com/jquery-3.3.1.min.js">
</script>

<script>
    $('#btn').click(function() {
        currLoc = $(location).attr('href');
        document.querySelector('.output').textContent = currLoc;
    });
</script>
</body>
</html>