.img-circle{
  width:70px;
  border-radius:50%
}
.img-circle1{
  width:143px;
  border-radius:13%
}
#player-info{
    font-weight: bold;
    padding: 20px;
    margin-bottom: 10px;
}
.match-box{
  padding: 2rem !important;
  margin: .5rem !important;
}
.match-box:hover{
  //padding: 3.5rem !important;
  background: #eee;
}
.container{
    width:85% !important;
}

.my-card{
   padding: 1.5rem;
   border: 1px dashed gray;
   margin-bottom: 2.5rem;
   border-radius: 1rem;
}

.alert-time{
    padding: 0.4rem 1.25rem !important;
    margin-bottom: 0rem !important;
}
form{
    margin-bottom: 3rem !important;
}


#firecrackerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.firecracker {
  position: absolute;
  font-size: 2em;
  animation: explode 3s ease-out forwards;
}

@keyframes explode {
  0% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  100% {
    opacity: 0;
    transform: scale(4) translateY(-1000%);
  }
}



