.img-circle{
  width:70px;
  border-radius:50%
}
.match-box{
  padding: 2rem !important;
  margin: .5rem !important;
}
.match-box:hover{
  //padding: 3.5rem !important;
  background: #eee;
}
.container{
    width:85% !important;
}

.alert-time{
    padding: 0.4rem 1.25rem !important;
    margin-bottom: 0rem !important;
}
form{
    margin-bottom: 3rem !important;
}


