<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home:UFC</title>
</head>
<body>

    <!--<div class="container my-2" layout:fragment="content">-->
    <div th:replace="~{fragments/header :: header}">...</div>
    <div class="container my-2">
        <span class="form-control" hidden="hidden" id="dailyFreePlayMatchCounts"
              th:text="${dailyFreePlayMatchCounts}"></span>
        <span class="form-control" hidden="hidden" id="playerActivity" th:text="${playerActivity}"></span>

        <div class="row my-3">
            <div class="col-6" id="chartContainer" style="height: 300px; width: 80%;margin:auto;"></div>
            <div class="col-6" id="pieChartContainer" style="height: 300px; width: 80%;margin:auto;"></div>
        </div>

        <div class="mt-5" style="margin:auto">
            <h4>DailyFreePlay Match in Github Calendar</h4>
            <div class="mt-1" id="github_chart_1"></div>
        </div>


        <!--        <input type="text" id="dailyFreePlayMatchCounts" class="form-control" th:value="{dailyFreePlayMatchCounts}"/>-->
        <!--        <textarea id="dailyFreePlayMatchCounts1" class="form-control" th:value="{dailyFreePlayMatchCounts}"></textarea>-->


        <!--        <div class="row">-->
        <!--            <div class="col-lg-6 col-sm-12 mb-5">-->
        <!--                <h3>Daily FreePlay MatchCount</h3>-->
        <!--                <table class="table table-striped table-responsive-md" id="dailyFreePlayMatchCountsTable">-->
        <!--                    <thead>-->
        <!--                    <tr>-->
        <!--                        <th>Date</th>-->
        <!--                        <th>Match Count</th>-->
        <!--                    </tr>-->
        <!--                    </thead>-->
        <!--                    <tbody>-->
        <!--                    <tr th:each="data:${dailyFreePlayMatchCounts}">-->
        <!--                        <td th:text="${data.matchDate}"></td>-->
        <!--                        <td th:text="${data.matchCount}"></td>-->
        <!--                    </tr>-->
        <!--                    </tbody>-->
        <!--                </table>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</body>
</html>
<style>

</style>
<script>
    window.onload = function () {
        var dataPoints = [];
        var pieChartDataPoints = [];
        var calenderDataPoints = [];
        var matchData = JSON.parse($('#dailyFreePlayMatchCounts').html());
        var pieChartData = JSON.parse($('#playerActivity').html());

        var options = {
            animationEnabled: true,
            title:{
                text: "Daily FreePlay MatchCount"
            },
            axisX: {
                valueFormatString: "DD MMM"
            },
            axisY: {
                title: "Match Count"
            },
            data: [{
                type: "spline",
                dataPoints: dataPoints
            }]
        };

        var pieChartOptions = {
            title: {
                text: "Player's Overall Activity"
            },
            subtitles: [{
                text: "shown in below pie chart"
            }],
            theme: "light2",
            animationEnabled: true,
            data: [{
                type: "pie",
                startAngle: 40,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: pieChartDataPoints
            }]
        };


        for (var i = 0; i < matchData.length; i++) {
            dataPoints.push({
                x: new Date(matchData[i].matchDate),
                y: matchData[i].matchCount
            });
            calenderDataPoints.push({
                timestamp: new Date(matchData[i].matchDate).getTime(),
                count: matchData[i].matchCount
            });
        }
        for (var i = 0; i < pieChartData.length; i++) {
            pieChartDataPoints.push({
                y: pieChartData[i].matchPlayedPercent,
                label: pieChartData[i].playerName
            });
        }


        console.log(matchData);
        console.log(dataPoints);
        console.log(pieChartData);
        console.log(pieChartOptions);
        $("#chartContainer").CanvasJSChart(options);
        $("#pieChartContainer").CanvasJSChart(pieChartOptions);
        $('#github_chart_1').github_graph( {
          data: calenderDataPoints ,
          texts: ['Match Played','Match Played'],
          colors:[
            {count:0,color:'#eeeeee'},
            {count:1,color:'#32de84'},
            {count:4,color:'#8cc751'},
            {count:7,color:'#00AB66'},
            {count:10,color:'#008200'},
            {count:15,color:'#004526'}
          ]
        });
    }
</script>
<!--colors:[-->
<!--{count:0,color:'#eeeeee'},-->
<!--{count:1,color:'#d6e685'},-->
<!--{count:4,color:'#8cc665'},-->
<!--{count:7,color:'#44a340'},-->
<!--{count:10, color:'#44a340'}-->
<!--]-->