<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Tournament Info</title>

</head>
<body>

<div th:replace="~{fragments/header :: header}">...</div>
<div class="container my-2">

<!--    <div class="row p-2">-->
<!--        <div class="col" th:text="${tournamentId}">001</div>-->
<!--        <div class="col" th:text="${tournamentName}">UFC - 1</div>-->
<!--        <div class="col" th:text="${duration}">Jan 24</div>-->
<!--        <div class="col" th:text="${playerCount}">2</div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header" th:text="${tournamentName}">Tournament Name</div>
                <div class="card-body">
                    <h5 class="card-title">Tournament Details</h5>
                    Players Participated: <p class="card-text">7</p>
                    Total Matches: <p class="card-text" th:text="${totalMatches}">42</p>
                    Completed Matches: <p class="card-text" th:text="${playedMatches}">13</p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h2 th:if="${pointsTable}">Points Table</h2>
            <table th:if="${pointsTable}" class = "table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Matches Played</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pt:${pointsTable}">
                    <!--            <td th:text="${match.matchId}"></td>-->
                    <td th:text="${pt.playerName}"></td>
                    <td th:text="${pt.matchPlayed}"></td>
                    <td th:text="${pt.won}"></td>
                    <td th:text="${pt.lost}"></td>
                    <td th:text="${pt.score}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2 th:if="${matchList}">Match Schedule</h2>
    <div class="row" th:if="${matchList}">
        <div class="col-4 p-2" th:each="match:${matchList}">
            <div class="border rounded match-box">
                <div class="mb-3 d-flex justify-content-around">
                    <img class="img-circle"  th:src="${match.playerOneImagePath}"/>
                    <h3 style="padding-top: 20px;">vs</h3>
                    <img class="img-circle"  th:src="${match.playerTwoImagePath}"/>
                </div>
                <div>
                    <h5><span th:text="${match.playerOneName}"/> vs <span th:text="${match.playerTwoName}"/></h5>
                    <h6>
                        Round: <span th:text="${match.roundNo}"/> <br>
                        Match No: <span th:text="${match.matchNo}"/> <br>
                        Winner : <span th:text="${match.winnerName}"/>
                    </h6>
                    <h5>Score : <span th:text="${match.playerOneScore}"/> - <span th:text="${match.playerTwoScore}"/></h5>
                    <br>
                    <button th:if="${match.winner == 0}"
                            class="btn btn-primary"
                            th:data-tourid="${tournamentId}"
                            th:data-matchid="${match.matchId}"
                            th:data-matchno="${match.matchNo}"
                            th:data-roundno="${match.roundNo}"
                            th:data-playeroneid="${match.playerOneId}"
                            th:data-playertwoid="${match.playerTwoId}"
                            th:data-playeroneimagepath="${match.playerOneImagePath}"
                            th:data-playertwoimagepath="${match.playerTwoImagePath}"
                            th:data-playeronescore="${match.playerOneScore}"
                            th:data-playertwoscore="${match.playerTwoScore}"
                            onclick="openModal(this)">Update</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" th:action="@{/match/update}" th:object="${match}" method="post">
<!--                <form th:action="@{/match/update/}" th:object="${match}" method="post">-->
                <div class="modal-header">
                    <h5 class="modal-title mr-3" id="updateModalLabel">Match No: </h5>
                    <h5 id="matchNo1">23</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" th:field="*{matchId}" id="matchId">
                    <input type="hidden" th:field="*{tourId}" id="tourId">
                    <input type="hidden" th:field="*{matchNo}" id="matchNo">
                    <input type="hidden" th:field="*{roundNo}" id="roundNo">
                    <input type="hidden" th:field="*{playerOneId}" id="playerOneId">
                    <input type="hidden" th:field="*{playerTwoId}" id="playerTwoId">


                    <div class="mb-3 d-flex justify-content-around">
                        <img class="img-circle"  id="playerOneImagePath" th:src="${match.playerOneImagePath}"/>
                        <h3 style="padding-top: 20px;">vs</h3>
                        <img class="img-circle"  id="playerTwoImagePath" th:src="${match.playerTwoImagePath}"/>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6">
                            <label for="playerOneScore" class="form-label">Player One Score</label>
                            <input type="text" class="form-control" th:field="*{playerOneScore}" id="playerOneScore">
                        </div>
                        <div class="col-6">
                            <label for="playerTwoScore" class="form-label">Player Two Score</label>
                            <input type="text" class="form-control" th:field="*{playerTwoScore}" id="playerTwoScore">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update Score</button>
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>
