<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Tournament Generator</title>

</head>
<body>
<!--<div th:replace="fragments/head_script :: head_script">...</div>-->
<div th:replace="~{fragments/header :: header}">...</div>
<div class="container my-5">

    <form action="#" id="tournamentForm" method="post" th:action="@{/tournament}" th:object="${tournament}"
          style="margin-bottom:20px">

        <h3>Create Tournament</h3>
        <!--        <p>Id: <input type="text" th:field="*{tournamentId}" /></p>-->
        <div class="row">
            <div class="form-group col-lg-4 col-sm-6">
                <p>Give A Name: <input class="form-control" type="text" th:field="*{tournamentName}"/></p>
                <p th:if="${#fields.hasErrors('tournamentName')}" th:errors="*{tournamentName}">Name Error</p>
            </div>
            <!--            <div class="form-group col-lg-4 col-sm-6">-->
            <!--                <p>Duration: <input class="form-control" type="text" th:field="*{duration}"/></p>-->
            <!--            </div>-->
<!--            <div class="form-group col">-->
<!--                <p>Player Count: <input class="form-control" type="text" th:field="*{playerCount}"/></p>-->
<!--            </div>-->
            <div class="form-group col-lg-4 col-sm-6">
                <label for="playerList" style="margin-bottom:0px !important">Player Select:</label>
                <select multiple class="form-control" th:field="*{playerList}" id="playerList">
<!--                    <option value="0">select operator</option>-->
                    <option th:each="player:${playerList}" th:value="${player.playerId}"
                            th:text="${player.playerName}"></option>
                </select>
                <!--                <label for="playerIds">Player Select:</label>-->
                <!--                <select multiple class="form-control" id="playerIds" >-->
                <!--                    <option th:each="player:${playerList}"><label th:text="${player.playerId}"></label></option>-->
                <!--                </select>-->
            </div>
            <!--            <div class="form-group col">-->
            <!--                <p>Player Select:-->
            <!--                    <input class="form-control" type="checkbox" th:field="*{playerIds}" />-->
            <!--                </p>-->
            <!--            </div>-->
        </div>
        <p><input type="submit" class="btn btn-primary" value="Submit"/> <input type="reset" class="btn btn-secondary"
                                                                                value="Reset"/></p>
    </form>


    <h3 th:if="${tournamentList}">Tournaments</h3>
    <table class="table table-striped table-responsive-md" id="tournamentTable" style="width:98%"
           th:if="${tournamentList}">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <!--            <th>Duration</th>-->
            <th>Player Count</th>
            <th>View Schedule</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tournament:${tournamentList}">
            <td th:text="${tournament.tournamentId}"></td>
            <td th:text="${tournament.tournamentName}"></td>
            <!--            <td th:text="${tournament.duration}"></td>-->
            <td th:text="${tournament.playerCount}"></td>
            <td><a class="btn btn-secondary"
                   th:href="@{/tournament/{id}(id=${tournament.tournamentId})}"
                   th:if="${tournament.allMatchCompleted == true}">Completed</a>
                <a class="btn btn-primary"
                   th:href="@{/tournament/{id}(id=${tournament.tournamentId})}"
                   th:if="${tournament.allMatchCompleted == false}">&nbsp;&nbsp;Pending&nbsp;&nbsp;</a>
            </td>
            <!--            <td><a th:href="@{/tournament/{id}(id=${tournament.tournamentId})}"-->
            <!--                   class="btn btn-primary">View</a>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>

</div>
<script>
    function formatState (state) {
      if (!state.id) {
        return state.text;
      }
      var $state = $(
        '<span><img src="' + '../images/' + state.element.text.toLowerCase() + '.jpg" class="img-flag" style="width:20px"/> ' + state.text + '</span>'
      );
      return $state;
    };

    $('#playerList').select2({
      placeholder: 'Select Multiple Players',
      templateResult: formatState
    });


    $('#tournamentForm').submit(function() {
        if ($('#tournamentName').val() == "") {
          alert("Please Enter Tournament Name");
          return false;
        } else { return true; }
        alert($('#playerList').val());
        console($('#playerList'));
        console($('#playerList').size());
        console($('#playerList').length());

    });
    //new DataTable('#tournamentTable');

<!--    $('#playerList').on("select2:selecting", function(e) {-->
<!--       alert():-->
<!--    });-->
</script>
</body>
</html>
